In [2]:
import pandas as pd
import numpy as np

In [3]:
PPI = pd.read_csv('../../data/pipeline/PPI_reference_barcodes.csv')
gene_description = pd.read_csv('~/Downloads/Table S1_Bait_and_Preys.csv')

In [5]:
genes = np.unique([ gene for PPI in PPI['PPI'] for gene in PPI.split('_') ])

In [8]:
PPI_gene_description = gene_description[gene_description['Gene'].isin(genes)].reset_index(drop=True)

In [10]:
PPI_gene_description.to_csv('../../data/tables/Table_S1_Bait_and_Preys.csv')

In [11]:
strains = pd.read_csv("../../data/genotype_information/piQTL_genotype_matrix_dec2022.txt")
strain_barcode = pd.read_csv('../../data/pipeline/barcode_collection_with_ubarcodes.csv').rename(columns={'strain_number':'she_jarosz_IDs', 'revComp':'barcode'})

In [12]:
strain_barcode = strain_barcode[['she_jarosz_IDs', 'barcode']]

In [13]:
strain_barcode

    she_jarosz_IDs     barcode
0               17  ATGGAGAGGT
1              254  CCGTTGAGGT
2              693  TCACAGAGGT
3              473  AAGTCGAGGT
4              880  TGTGTGAGGT
..             ...         ...
356            862  TCACAGACAC
357       599_ref1  CTTCGGAGGT
358       599_ref2  GCATCGAGGT
359        43_ref1  TTAGGGAGGT
360        43_ref2  AGATGGAGGT

[361 rows x 2 columns]

In [14]:
table_index = []
for i in range(len(strains.columns[1:])):
    idx = i+1
    table_index.append([idx, strains.columns[1:][i]])

In [15]:
table_mapping = pd.DataFrame(table_index, columns=['piQTL_IDs', 'she_jarosz_IDs'])

In [16]:
table_mapping = table_mapping.merge(strain_barcode, on='she_jarosz_IDs', how='outer')

In [17]:
table_mapping

     piQTL_IDs she_jarosz_IDs     barcode
0          1.0              6  ATGGATTCTC
1          2.0              7  ATGGATGGTA
2          3.0             14  ATACCGAGGT
3          4.0             15  ATACCTTCTC
4          5.0             17  ATGGAGAGGT
..         ...            ...         ...
356      357.0          180_2  ATGGAAGGAT
357        NaN       599_ref1  CTTCGGAGGT
358        NaN       599_ref2  GCATCGAGGT
359        NaN        43_ref1  TTAGGGAGGT
360        NaN        43_ref2  AGATGGAGGT

[361 rows x 3 columns]

In [57]:
table_mapping.to_csv('.../../data/tables/piQTL_strain_numbering.csv', index=False)